<section class="card login">
    <md-content >
    
     <md-input-container class="md-icon-float md-block">
      <label> start Time</label>
      <input type="text" step="0.01" ng-init="data.start.time=null"ng-model="data.start.time">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> End Time</label>
      <input type="text" step="0.01" ng-model="data.end.time">
    </md-input-container>
  
  
    <md-input-container class="md-block">
                <label > Select City: </label>
                <md-select   ng-change="getProjects()" ng-model="cityId" >
                    <md-option ng-repeat="city in cities" value="{{city.cityId}}">{{city.cityName}}</md-option>
                </md-select>
    </md-input-container>  
    <md-input-container class="md-block">
                <label > Select Project: </label>
                <md-select   ng-change="projectSelected()" ng-model="projectId" >
                    <md-option ng-repeat="project in projects" value="{{project.projectId}}">{{project.projectName}}</md-option>
                </md-select>
    </md-input-container>  

     <md-input-container class="md-icon-float md-block">
      <label> Purpose</label>
      <input type="text"  ng-model="data.purpose">
    </md-input-container>
   
   <md-input-container class="md-block">
          <label>Comments</label>
          <textarea ng-model="data.comments" md-maxlength="150" rows="5" md-select-on-focus></textarea>
    </md-input-container>

    </br>
    <div layout="row">
        <div flex="40"></div>
        <div flex="33">
        <md-button class="md-raised md-primary "  style="align:center; background-color: #585858;" ng-click="eventplan(data)">Save</md-button>
        </div>
         <div flex></div>
    </br>
    </md-content>
</section>