<md-card class="addProjectFormCard">
    <md-toolbar>
        <md-toolbar-title>
            <md-toolbar-title-text>
            <h2 align="center"><span>Home Delivery Details</span></h2>
            </md-toolbar-title-text>
        </md-toolbar-title>
    </md-toolbar>
    <md-card-content>
        <form name="homeDeliveryForm">
            <div layout="row" layout-padding>
                <md-radio-group layout="row" ng-model="category" ng-init="category='Restaurant'">
                    <div layout="column" layout-padding>
                        <md-radio-button value="Restaurant">
                            Restaurant
                        </md-radio-button>
                        <md-radio-button value="Grocery">
                            Grocery
                        </md-radio-button>
                        <md-radio-button value="Pharmacy">
                            Pharmacy
                        </md-radio-button>
                    </div> 
                    <div layout="column" layout-padding>
                        <md-radio-button value="CableProvider">
                            Cable Provider
                        </md-radio-button>
                        <md-radio-button value="Isp">
                            ISP
                        </md-radio-button>
                        <md-radio-button value="Parlour">
                            Parlour
                        </md-radio-button>
                    </div>
                    <div layout="column" layout-padding>
                        <md-radio-button value="Milkman">
                            Milkman
                        </md-radio-button>
                        <md-radio-button value="Laundry">
                            Laundry
                        </md-radio-button>
                        <md-radio-button value="NewspaperDelivery">
                            Newspaper Delivery
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </div>
            <div layout="row" layout-padding>
                <md-input-container 
                    class="md-block"
                    flex="50">
                    <label>Name</label>
                    <input name="name" ng-model="info.name" required>
                    <div ng-messages="homeDeliveryForm.name.$error" role="alert">
                        <div ng-message="required">
                            Name is required.
                        </div>
                    </div>
                </md-input-container>
                <md-input-container 
                    class="md-block"
                    flex="50">
                    <label>Contact Number</label>
                    <input 
                        name="contact"
                        ng-pattern="/^[0-9]{10}$/"
                        ng-model="info.contact" 
                        ng-minlength="10"
                        ng-maxlength="10"
                        required>
                    <div ng-messages="homeDeliveryForm.contact.$error" role="alert">
                        <!--<div ng-message-exp="['required', 'minlength', 'maxlength']">
                            Phone number must be 10 characters long .
                        </div>-->
                        <div ng-message="pattern">Invalid Number</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-align="end end">
                <md-button 
                    class="md-primary md-raised" 
                    ng-click="pushService(info, category)"
                    ng-disabled="homeDeliveryForm.$invalid || !category">Submit</md-button>
            </div>
        </form>
        <div layout-padding >
            <table class="printShopDetails">
                <thead>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Contact</th>
                </thead>
                <tbody ng-repeat="(key,value) in items">
                    <tr ng-repeat="(key1, value1) in value">
                        <td>{{key | uppercase}}</td>
                        <td>{{value1.name}}</td>
                        <td>{{value1.contact}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card-content>
</md-card>









