 <section class="card login">
    <md-content >
    
     <md-input-container class="md-icon-float md-block">
      <label> start Time</label>
      <input type="number" step="0.01" ng-init="data.planning.start.time=null"ng-model="data.planning.start.time">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> End Time</label>
      <input type="number" step="0.01" ng-model="data.planning.end.time">
    </md-input-container>
  
    <md-input-container class="md-icon-float md-block">
      <label> Project id</label>
      <input type="text"  ng-model="data.planning.project_id">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label> Project Name</label>
      <input type="text"  ng-model="data.planning.projectName">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> Subject</label>
      <input type="text"  ng-model="data.planning.subject">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> Details</label>
      <input type="text"  ng-model="data.planning.details">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> Purpose</label>
      <input type="text"  ng-model="data.planning.purpose">
    </md-input-container>

  <div ng-repeat = "tomail in toemail">
    <label>To Email:</label>
        <md-input-container class="md-icon-float md-block">
        <label> Email ID</label>
        <input type="text"  ng-model="tomail.email">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
        <label> Contact</label>
        <input type="text"  ng-model="tomail.contact">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
        <label> Designation</label>
        <input type="text"  ng-model="tomail.designation">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
        <label> Department</label>
        <input type="text"  ng-model="tomail.department">
        </md-input-container>
      </div>
    <md-button class="md-raised md-primary "  style="align:center; background-color: #585858;" ng-click="addto()">Add More To Email</md-button>
<br><br>
    <div ng-repeat = "mail in ccemail">
    <label>CC Email:</label>
               <md-input-container class="md-icon-float md-block">
      <label> Email ID</label>
      <input type="text"  ng-model="mail.email">
      </md-input-container>
           <md-input-container class="md-icon-float md-block">
      <label> Contact</label>
      <input type="text"  ng-model="mail.contact">
      </md-input-container>
           <md-input-container class="md-icon-float md-block">
      <label> Designation</label>
      <input type="text"  ng-model="mail.designation">
      </md-input-container>
           <md-input-container class="md-icon-float md-block">
      <label> Department</label>
      <input type="text"  ng-model="mail.department">
      </md-input-container>
      </div>
    <md-button class="md-raised md-primary "  style="align:center; background-color: #585858;" ng-click="addcc()">Add More CC</md-button>

<br>
   
     <form name="myform" novalidate>
     <label>Attachments:
     <md-input-container class="md-icon-float md-block">
     <input type="file" name="file" onchange="angular.element(this).scope().getFileDetails(this)" single />
     </md-input-container>
     <md-input-container class="md-icon-float md-block">
     <md-button type="submit" ng-disabled="!showUpload" class="btn" ng-disabled="myform.$inavlid" ng-click="upload()">Upload {{name}}</md-button>
        </md-input-container>
    </label>
   </form>

   <md-input-container class="md-block">
          <label>Comments</label>
          <textarea ng-model="data.planning.comments" md-maxlength="150" rows="5" md-select-on-focus></textarea>
   </md-input-container>
    </br>
    <div layout="row">
        <div flex="40"></div>
        <div flex="33">
        <md-button class="md-raised md-primary "  style="align:center; background-color: #585858;" ng-click="eventplan(data,$event)">Save</md-button>
        </div>
         <div flex></div>
    </br>
    </md-content>
</section>
