<div ng-include="'navigation/header.html'"></div>
<form name="profileForm" novalidate>
   <md-card layout-padding>
      <md-content>
         <div layout="row">
            <md-input-container flex>
               <label>First Name</label>
               <input type="text" ng-model="admin.fname" ng-disabled="true">
            </md-input-container>
            <md-input-container flex>
               <label>Last Name</label>
               <input type="text" ng-model="admin.lname" ng-disabled="true">
            </md-input-container>
            <md-input-container flex>
               <label>Email Address</label>
               <input type="email" ng-model="admin.email" ng-disabled="true">
            </md-input-container>
         </div>
         <div layout="row">
            <md-input-container flex>
               <label>Team Assigned To</label>
               <input type="text" ng-model="admin.team" ng-disabled="true">
            </md-input-container>
            <md-input-container flex>
               <label>Reporting Manager</label>
               <input type="text" ng-model="admin.marketingManager" ng-disabled="true">
            </md-input-container>
            <md-input-container flex>
               <label>Data Validation Manager</label>
               <input type="text" ng-model="admin.validationManager" ng-disabled="true">
            </md-input-container>
         </div>
         <p>Gender:</p>
         <md-radio-group ng-model="admin.gender" md-placeholder="Gender">
            <md-radio-button value="male" class="md-primary">Male</md-radio-button>
            <md-radio-button value="female" class="md-primary">Female</md-radio-button>
         </md-radio-group>
         <div layout="row">
            <md-input-container flex>
               <label>Address</label>
               <input type="text" ng-model="admin.address">
            </md-input-container>
         </div>
         <div layout="row" layout-align="center center">
            <md-input-container flex>
               <label>City</label>
               <input type="text" ng-model="admin.city">
            </md-input-container>
            <md-datepicker ng-model="admin.dob" md-placeholder="Enter date" ng-change="showDate()"></md-datepicker>
         </div>
         <div layout="row">
            <md-input-container flex>
               <label>Primary Contact</label>
               <input name="mobile" ng-pattern="/^[0-9]{10}$/" ng-model="admin.mobile">
               <div ng-messages="profileForm.mobile.$error" role="alert" multiple>
                  <div ng-message="pattern" class="my-message">
                        Not Valid Mobile Number
                  </div>
               </div>
            </md-input-container>
            <md-input-container flex>
               <label>Alternate Contact</label>
               <input name="altMob" ng-pattern="/^[0-9]{10}$/" ng-model="admin.altMob">
               <div ng-messages="profileForm.altMob.$error" role="alert" multiple>
                  <div ng-message="pattern" class="my-message">
                        Not Valid Mobile Number
                  </div>
               </div>
            </md-input-container><br>
         </div>
         <section>
            <md-button 
               class="md-raised md-primary" 
               type="submit" 
               ng-click="updateDetails()"
               ng-disabled="profileForm.$invalid || profileForm.$pristine">Update</md-button>
         </section>
      </md-content>
   </md-card>
</form>
