<md-button class="md-raised md-primary" aria-label="Add Builder" ui-sref="builder.add">Add Builder</md-button>
<md-card>
   <md-card-title>
      <md-card-title-text>
         <span class="md-headline" layout="row" layout-align="center center">All Builders - {{devList.length}}</span>
      </md-card-title-text>
   </md-card-title>
   <md-card-content>
      <md-input-container class="md-block">
         <input placeholder="Search Builders here" type="text" ng-model="searchBuilders">
      </md-input-container>
      <table class="admintable">
         <thead>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>CITY</th>
            <th>MOBILE</th>
            <th>STATUS</th>
            <th></th>
         </thead>
         <tbody>
            <tr ng-repeat="dev in devList | filter: searchBuilders">
               <td>{{dev.name}}</td>
               <td>{{dev.email}}</td>
               <td>{{dev.city}}</td>
               <td>{{dev.mobile}}</td>
               <td>{{dev.active_flag}}</td>
               <td>
                  <a href="#/builder/detail/{{dev.builder_id}}">View Details</a>
               </td>
            </tr>
         </tbody>
      </table>
   </md-card-content>
</md-card>
