<div layout="column">
    <div flex="40">
        <md-card>
            <md-card-content>
            <span class="md-subhead">Select Date</span>
            <md-datepicker ng-model="date" md-placeholder="Enter date" class="date"> </md-datepicker>
            <md-input-container class="md-block">
                <label for="repeatSelect"> Select Activity Type: </label>
                <md-select name="repeatSelect" ng-init="data.repeatSelect=null" ng-model="data.repeatSelect" >
                    <md-option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</md-option>
                </md-select>
            </md-input-container>  

           </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" style="background-color: #585858;"ng-click="getActivities()">Show </md-button>
                <md-button class="md-raised md-primary" style="background-color: #585858;" ng-click="activitySelect(data.repeatSelect)">Add</md-button>
            </md-card-actions>
        </md-card>
    </div>


    <div flex="20" >
        <md-card md-scroll-y >
            <md-list flex >
                <md-list-item class="md-3-line" ng-repeat="data in todos" >             
                    <div  class="md-list-item-text" layout="column" style="margin-left: 15px;">
                        <h3>{{ data.type }}</h3>
                        <h4>Start time: {{ data.planning.start.time }}</h4>
                        <h4> End time:{{data.planning.end.time}} </h4>
                    </div>
                    <div>
                       <md-button class="md-fab md-mini md-primary" style="background-color: #E8E8E8; float:right; " ng-click="edit(data)" aria-label="Use Android">
                       <md-icon md-svg-src="planner/pics/edit.svg"  ></md-icon>
                       </md-button>

                       <md-button class="md-fab md-mini md-primary" style="background-color: #E8E8E8;  float:right; " ng-click="delete(data.$id)" aria-label="Use Android">
                       <md-icon md-svg-src="planner/pics/delete.svg" ></md-icon>
                       </md-button>
                    </div>

                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-card>
    </div>
</div>