<div ng-include="'navigation/header.html'"></div>
<md-content layout-padding>
    <md-card class="md-padding">
        <md-card-content>
            <md-progress-linear md-mode="query" ng-hide="dataloaded"></md-progress-linear>
            <form name="myForm">
                <div layout="row" layout-wrap>
					<div flex="25">
						<md-input-container class="md-block" flex-gt-sm>
							<label>City</label>
							<md-select ng-model="data.city" ng-change="getProjects(data.city)">
								<md-option ng-repeat="city in cities" value="{{city.cityId}}" required>
								{{city.cityName}}
								</md-option>
							</md-select>
						</md-input-container>
	                </div>
                    <div flex="25">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Select Projects</label>
                           
                            <md-select ng-model="data.project" ng-change="getProject(data.city, data.project)">
                                <md-option ng-repeat="project in projects" value="{{project.projectId}}" required>
                                {{project.projectName}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </form>

            <!-- Editable -->
            <h1>Editable</h1>
            <table>
                <tr>
                    <th>Project Name</th>
                    <th>Version</th>
                    <th>Submit</th>
                </tr>
                <tr ng-show="editableProject">
                    <td>{{editableProject.projectName}}</td>
                    <td>{{editableProject.version}}</td>
                    <td style="text-align:center;">
                        <md-button class="md-fab md-mini"
                            ng-disabled="submitted"
                            ng-click="submitProject(editableProject.version, editableProject.projectId)">
                            Ok
                        </md-button>
                    </td>
                </tr>
            </table>
            
        </md-card-content>
    </md-card>
</md-content>