<section class="card login">
    <md-content >
    
     <md-input-container class="md-icon-float md-block">
      <label> start Time</label>
      <input type="text" step="0.01" ng-init="data.planning.start.time=null" ng-model="data.planning.start.time">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label> End Time</label>
      <input type="text" step="0.01" ng-init="data.planning.end.time=null" ng-model="data.planning.end.time">
    </md-input-container>


    <md-input-container class="md-block">
                <label > Select City: </label>
                <md-select   ng-change="getProjects(data.planning.cityId)" ng-model="data.planning.cityId" >
                    <md-option ng-repeat="city in cities" value="{{city.cityId}}">{{city.cityName}}</md-option>
                </md-select>
    </md-input-container>  
    <md-input-container class="md-block">
                <label > Select Project: </label>
                <md-select ng-model="data.planning.project_id" >
                    <md-option ng-repeat="project in projects" value="{{project.projectId}}">{{project.projectName}}</md-option>
                </md-select>
    </md-input-container>  

     <!-- <md-input-container class="md-icon-float md-block">
      <label> Project id</label>
      <input type="text"  ng-init="data.planning.project_id=null" ng-model="data.planning.project_id">
    </md-input-container>
 -->
     <md-input-container class="md-icon-float md-block">
      <label>Project Name</label>
      <input type="text"  ng-init="data.planning.project_name=null" ng-model="data.planning.project_name">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label> Contact number</label>
      <input type="number"  ng-init="data.planning.contact_number=null" ng-model="data.planning.contact_number">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label> Contact person</label>
      <input type="text"  ng-init="data.planning.contact_person=null" ng-model="data.planning.contact_person">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label> Designation</label>
      <input type="text"  ng-init="data.planning.designation=null" ng-model="data.planning.designation">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label> Department</label>
      <input type="text"  ng-init="data.planning.department=null" ng-model="data.planning.department">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label> Details</label>
      <textarea ng-init="data.planning.details=null" ng-model="data.planning.details"></textarea> 
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label> Purpose</label>
      <input type="text"  ng-init="data.planning.purpose=null" ng-model="data.planning.purpose">
    </md-input-container>
     <input type="hidden"  ng-model="data.planning.active" value="true">

    
    
    
    
    </br>
    <div layout="row">
     <div flex="40"></div>
     <div flex="33">
     <md-button class="md-raised md-primary "  style="align:center; background-color: #585858;" ng-click="eventplan(data,$event)">Save</md-button>
     </div>
     <div flex></div>
    </br>
    </md-content>
</section>
