<form name="forgotPasswordForm" layout="row" layout-align="center center">
   <md-card flex="33">
      <md-toolbar>
         <div class="md-toolbar-tool">
            <h2>
               <span layout="row" layout-align="center">Forgot Password</span>
            </h2>
         </div>
      </md-toolbar>
      <md-content layout-padding>
			<form name="resetForm" novalidate>
				<h5>To Reset password enter your email address</h5>
				<md-input-container>
					<input placeholder="Email Address" type="email" ng-model="emailReset" name="resetEmail" class="md-block" required>
					<div ng-messages="resetForm.resetEmail.$error" ng-show="resetForm.resetEmail.$touched || notouchreset">
						<div ng-message="required">This field is required</div>
						<div ng-message="email">Enter valid email</div>
					</div>
				</md-input-container>
				<section layout="row" layout-sm="column" layout-align="start center" layout-wrap>
					<md-button 
						type="submit" 
						class="md-raised md-primary" 
						ng-click="submitEmail(resetForm)"
						ng-disabled="forgotPasswordForm.$invalid || !emailReset">Send Link</md-button>
					<md-button md-no-ink ui-sref="login" class="md-raised" >Cancel</md-button>
				</section>
			</form>
		</md-content>
	</md-card>
</form>
